h2.brand-register-step {
	font-size: 20px;
	margin-bottom: 50px;
	margin-top: 0;
	text-indent: 2.5em;
}

/* .brand-register-inline {
	line-height: 22px !important;
} */

.brand-register-text-center {
	line-height: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.brand-register-block-spare {
	margin-bottom: 50px;
}

.brand-register-lookbook-upload {
	font-size: 10px;
	height: 200px;
	background: transparent;
    overflow: hidden;
    position: relative;
}
.brand-register-lookbook-upload.has-error{
	border-color: #a94442;
}

.brand-register-lookbook-upload p {
	margin-top: 50%;
	margin-bottom: 0;
}

.brand-register-lookbook-upload label {
	line-height: 100% !important;
	margin-top: 10px;
	color: #60b8e4;
	cursor: pointer;
}

#lookbook-upload {
	visibility: hidden;
}

.brand-register-checkbox label {
	line-height: 100% !important;
}

.brand-register-checkbox label span {
	margin-top: 15px;
}