h2.buyer-register-step {
	font-size: 20px;
	margin-bottom: 50px;
	margin-top: 0;
	text-indent: 2.5em;
}
.form-group{
	position: relative;
}
/* .buyer-register-inline {
	line-height: 22px !important;
} */

.buyer-register-text-center {
	line-height: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.buyer-register-block-spare {
	margin-bottom: 50px;
}

.buyer-register-lookbook-upload.has-error{
	border-color: #a94442;
}
.buyer-register-lookbook-upload {
	font-size: 10px;
	height: 190px;
	background: transparent;
	overflow: hidden;
	position: relative;
}

.buyer-register-lookbook-upload p {
	margin-top: 50%;
	margin-bottom: 0;
}

.buyer-register-lookbook-upload label {
	line-height: 100% !important;
	margin-top: 10px;
	color: #60b8e4;
	cursor: pointer;
}

#lookbook-upload {
	visibility: hidden;
}

.buyer-register-form-inline-left {
	padding-left: 0;
}
.buyer-register-form-inline-right{
	padding-right: 0;
}

/* .buyer-register-block-up {
	margin-top: -80px;
} */

.buyer-register-checkbox-group {
	padding-left: 20px;
	color: #aaaaaa;
}

.buyer-register-checkbox-group label {
	margin-bottom: 0;
}

.buyer-register-checkbox {
	margin-left: 0 !important;
    padding-top: 0 !important;
    margin-right: 20px;
    padding-left: 0;
}

.buyer-register-checkbox label {
	margin-left: 10px;
}

label[for='store-type'] {
	position: absolute;
    width: 100%;
    z-index: -1;
    text-align: center;
    font-weight: normal;
    color: #999;
    letter-spacing: 0;
    padding-right: 30px;
}
label[for='store-type'].has-content{
    color: #555;
}
#store-type {
	background-color: transparent;
	color: #fff;
}
#store-type option{
	color: #000;
	padding: 10px 0;
}

.buyer-register-dropdown-menu {
	margin-left: 15px;
	width: 429px;
	text-align: center;
}
.buyer-register-dropdown-menu li {
	font-size: 10px;
	padding-top: 10px;
	padding-buttom: 10px;
}
.buyer-register-dropdown-menu li:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}
.help-block{
	margin-top: 0;
}