body {
	font-family: Helvetica, 'Microsoft Yahei', sans-serif;
	letter-spacing: 0.1em;
	color: #25272c;
}

/* 默认bootstrap样式覆盖 */
.container{
	min-width: 1200px;
}
.container-fluid{
	min-width: 1200px;
}
.row{
	position: relative;
}
section.row{
	padding-top: 80px;
	padding-bottom: 80px;
}
section.row.no-vertical-padding{
	padding-top: 0;
	padding-bottom: 0;
}
label{
	font-size: 12px;
	/* line-height: 40px !important; */
}
.form-control{
	font-size: 12px;
	/* padding: 17px; */
	height: 40px;
	border-radius: 20px;
	text-align: center;
}
/* .checkbox input[type=checkbox], 
.checkbox-inline input[type=checkbox], 
.radio input[type=radio], 
.radio-inline input[type=radio]{
	margin-top: 15px;
} */
.btn{
	font-size: 12px;
    height: 40px;
    border-radius: 22px;
    min-width: 130px;
    outline: none !important;
    box-shadow: none !important;
    position: relative;
    z-index: 0;
    overflow: hidden;
    line-height: 40px;
     transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    padding-top: 0;
    padding-bottom: 0;
}
.btn:before {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	border-radius: 22px;
}
.btn:hover:before{
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
}
.btn.btn-type-1{
	border: 1px solid #ca7379;
    color: #ca7379;
    background-color: #fff;
}
.btn.btn-type-1:before{
    background-color: #ca7379;
}
.btn.btn-type-1:hover{
	background-color: #ca7379;
	color: #fff  !important;
}
.btn.btn-type-2{
	border: 1px solid #ca7379;
    color: #fff;
    background-color: #ca7379;
}
.btn.btn-type-2:before{
    background-color: #fff;
}
.btn.btn-type-2:hover{
	color: #ca7379  !important;
}
.btn + .btn{
	margin-left: 20px;
}
a {
	color: #ca7379;
	text-decoration: none;
	position: relative;
	text-decoration: none !important;
}
a:hover,
a.active {
	color: #ca7379 !important;
}
a:before{
	content: "";
	position: absolute;
	background-color: #ca7379;
	height: 1px;
	left: 50%;
	right: 50%;
	bottom: -5px;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
}
a:hover:before,
a.active:before{
	left: 0;
	right: 0;
}

#locale-setting-currency:before,
#locale-setting-language:before{
	content: none;
}
.glyphicon + span{
	margin-left: 5px;
}
.alert{
	margin-bottom: 15px;
    padding: 0;
    border: none;
    color: #a94442;
    font-size: 12px;
}
.alert ul {
	margin: 0;
    padding: 0 0 0 10px;
    list-style: none;
}
.alert ul li{
	margin: 5px 0;
}
/* 顶部语言、货币、用户信息导航 */
.setting-info {
	height: 40px;
    background: #000;
    color: #888;
    font-size: 12px;
}
.setting-info .locale-settings .dropdown{
	display: inline-block;
}
.setting-info .locale-settings .dropdown + .dropdown{
	margin-left: 20px;
}
.setting-info .locale-settings .dropdown .caret{
	margin-left: 10px;
}
.setting-info .locale-settings .dropdown a{
	text-decoration: none;
	color: #666;
	line-height: 40px;
	height: 40px;
	display: inline-block;
	padding: 0 7px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	min-width: 100px;
}
.setting-info .locale-settings .dropdown.open a{
	background-color: rgba(255, 255, 255, 0.15);
}
.setting-info .locale-settings .dropdown .dropdown-menu{
	margin-top: -2px;
    border-radius: 0;
    border: 2px solid #000;
    min-width: 100px;
    padding: 0;
}
.setting-info .locale-settings	.dropdown .dropdown-menu > li{
    padding: 0 5px;
    cursor: pointer;
    line-height: 40px;
}
.setting-info .user-info-nav{
	text-align: right;
}
.setting-info .user-info-nav a{
	line-height: 40px;
	cursor: pointer;
	color: #2aa0da;
}
.setting-info .user-info-nav span{
	line-height: 40px;
}
.setting-info .user-info-nav * + * {
	margin-left: .5em;
}
/* 无用户导航 */
.no-user-navigation{
	background-color: #fafafa;
}
.no-user-navigation .share-link {
    display: inline-block;
    color: #666;
    margin: 0 5px;
    line-height: 35px;
}
.no-user-navigation .site-logo{
	/* margin-top: -10px; */
}
.no-user-navigation .main-naviagtions{
	list-style: none;
	margin: 30px 0 30px 0;
	padding: 0;
}
.no-user-navigation .main-naviagtions > li{
	display: inline-block;
	margin: 0 2em;
}
.no-user-navigation .main-naviagtions > li > a{
	color: #000;
	font-size: 14px;
}
/* 页尾导航 */
.footer-navigation{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #fafafa;
}
.footer-navigation h3{
	font-size: 13px;
    color: #25282c;
    margin-bottom: 25px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}
.footer-navigation p{
	font-size: 13px;
	color: #202020;
	margin-bottom: 30px;
	margin-top: 8px;
}
.footer-navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer-navigation ul > li{
	margin: 5px 0;
}
.footer-navigation ul > li > a,
.footer-navigation ul > li > span{
	color: #888;
	font-size: 10px;
}

/* filter过滤器通用样式 */
.filter-condition{
	margin-bottom: 10px;
}
.filter-condition .filter-header{
	border-bottom: 1px solid #000;
	padding-top: 10px;
	padding-bottom: 10px;
}
.filter-condition .filter-name{
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
.filter-condition .filter-clear-all{
	color: #ccc;
    font-size: 12px;
    float: right;
    margin-top: 2px;
    cursor: pointer;
}
.filter-condition  .filter-checkbox-list,
.filter-condition  .filter-radio-list{
	list-style: none;
	margin: 15px 0 0 0;
}
.filter-condition  .filter-list > li{
	margin: 3px 0;
    color: #878787;
    font-size: 12px;
    display: block;
    width: 100%;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
}
.filter-condition  .filter-list > li > span{
	display: inline-block;
	float: left;
}
.filter-condition  .filter-list > li > .filter-selector{
	width: 1.4em;
    height: 1.4em;
    border: 1px solid #878787;
    margin: 0.3em 15px 0.3em 0;
}
.filter-condition  .filter-list > li.active > .filter-selector{
	background-color: #878787;
	color: #fff;
}
.filter-condition  .filter-list.filter-radio-list .filter-selector{
	border-radius: 50%;
}
.filter-condition .filter-more{
	color: #ccc;
    font-size: 12px;
    margin-top: -5px;
    cursor: pointer;
}

/* uploading 遮罩 */
.uploading-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
    font-size: 36px;
}
.uploading-mask .uploading-content{
	position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.uploading-mask .uploading-content .glyphicon{
	padding: 10px;
	border-radius: 50%;
	border: 2px solid #fff;
	margin:0 30px;
	overflow: hidden;
	margin-bottom: -10px;
}
@keyframes rollUp
{
from {transform: translateY(100%);}
to {transform: translateY(-100%);}
}

@-moz-keyframes rollUp /* Firefox */
{
from {-moz-transform: translateY(100%);}
to {-moz-transform: translateY(-100%);}
}

@-webkit-keyframes rollUp /* Safari 和 Chrome */
{
from {-webkit-transform: translateY(100%);}
to {-webkit-transform: translateY(-100%);}
}

@-o-keyframes rollUp /* Opera */
{
from {-o-transform: translateY(100%);}
to {-o-transform: translateY(-100%);}
}
.uploading-mask .uploading-content .glyphicon:before{
	display: inline-block;
	animation: rollUp 1s linear infinite;
    -webkit-animation: rollUp 1s linear infinite;
    -moz-animation: rollUp 1s linear infinite;
    -o-animation: rollUp 1s linear infinite;
}