section.row{
    padding-top: 35px;
    padding-bottom: 35px;
}

.sign-in{
    font-weight: 200;
	border: 4px solid #eee;
	padding: 30px 50px;
}
.sign-in h2{
    font-weight: 200;
	font-size: 16px;
	margin: 10px 0 30px 0;
}
.sign-in form label{
    font-weight: 200;
	margin-bottom: 15px;
}
.sign-in form input{
	margin-bottom: 5px;
}
.sign-in form input[type='checkbox']{
	margin-top: 1px;
}
.sign-in form button{
	margin: 0 0 10px;
}
.sign-in #valid-code{
	width: 75%;
}
.sign-in img.valid-code{
    border: 1px solid #ccc;
    padding: 5px;
    height: 38px;
    border-radius: 22px;
    cursor: pointer;
}
.request-menbership{
	padding: 10px 50px;
}
.request-menbership h2{
    font-weight: 200;
	color: #606060;
	font-size: 16px;
	margin-top: 120px;
	margin-bottom: 60px;
}
.request-menbership p {
	color: #878787;
	font-size: 12px;
	padding: 0 10px;
	line-height: 2em;
	margin-bottom: 70px;
}
