.brand-list .brand-list-header{
	border-bottom: 1px solid #e3e3e3;
	padding-top: 8px;
	padding-bottom: 8px;
}
.brand-list .brand-list-header .brand-list-title{
	font-size: 14px;
	font-weight: bold;
}
.brand-list .brand-list-header .input-group{
	width: 25%;
    float: right;
    margin-top: -8px;
}
.brand-list .brand-list-header .input-group-addon{
	background-color: #fff;
	border-radius: 14px 0 0 14px;
	font-size: 12px;
}
#brand-keyword {
	padding: 4px;
    height: 28px;
    border: 1px solid #ccc !important;
    box-shadow: none;
    border-left: none !important;
    text-align: left;
}
.brand-list .brand-list-content{
	padding-top: 20px;
}
.brand-list .brand-list-content .brand-item{
	height: 270px;
	position: relative;
	display: inline-block;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px 1px 2px 1px;
	margin-bottom: 30px;
	width: 100%;
}
.brand-list .brand-list-content .brand-item:before{
	content: none;
}
.brand-list .brand-list-content .brand-item .brand-item-image{
	height: 100%;
	width: 100%;
}
.brand-list .brand-list-content .brand-item .brand-item-name{
	height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,.7);
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 40px;
    color: #222;
}
