@CHARSET "UTF-8";
.about-banner {
	background-image: url('/static/app/images/about-background.png');
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.about-banner .banner-mask{
	background-color: rgba(0, 0, 0, .4);
	text-align: center;
	padding: 50px;
}
.about-banner h2{
	margin-bottom: 50px;
	font-size: 30px;
}
.about-banner p{
	font-size: 16px;
	line-height: 30px;
	white-space: pre-line;
}
.founder-photo{
	width: 100%;
}
.founder-info h3{
	border-top: 5px solid #000;
	padding: 30px 0 0 0;
	line-height: 50px;
	margin: 0;
}
.founder-info h4{
	line-height: 50px;
}
.founder-info p{
	line-height: 30px;
}