@CHARSET "UTF-8";
.user-navigation{
	background-color: #fff;
}
.brand-preview{
	background-color: #fcfcfc;
	padding: 30px;
}

.brand-preview .brand-name{
	font-size: 16px;
	margin-bottom: 50px;
}
.brand-preview .brand-info{
	font-size: 14px;
	line-height: 30px;
}
.brand-preview .brand-info > span{
	display: inline-block;
	float: left;
}
.brand-preview .brand-info > span:first-child{
	color: #878787;
	width: 30%;
}
.brand-preview .brand-info > span:nth-child(2){
	width: 70%;
}
.brand-preview .brand-cover{
	height: 360px;
	background-color: #eee;
	position: relative;
}
.brand-preview .brand-cover > img{
	width: 100%;
	max-height: 100%;
	position: absolute;
	left:0;
	top:50%;
	z-index: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.brand-preview .collection-cover{
	height: 80px;
    background-color: #eee;
    position: relative;
    margin-bottom: 10px;
    width: 15%;
    float: left;
    margin-right: 2%;
}
.brand-preview .collection-cover:nth-child(6n){
	margin-right: 0;
}
.brand-preview .collection-cover > img{
	width: 100%;
	max-height: 100%;
	position: absolute;
	left:0;
	top:50%;
	z-index: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.support{
	padding-top: 50px;
	padding-bottom: 80px;
}
.support .account-manager-image{
	width: 80px;
	height: 80px;
	border-radius: 40px;
	float: left;
}
.support p{
	color: #878787;
    font-size: 11px;
    float: left;
    width: 70%;
	margin: 25px 5px 0 10px;
}
.support .btn{
    margin-top: 35px;
}