@CHARSET "UTF-8";
.user-navigation{
	background-color: #fff;
}
.dropdown.season-filter {
    margin-bottom: 30px;
    text-align: right;
    cursor: pointer;
}
.dropdown.season-filter > ul{
	right: 0;
    left: auto;
    text-align: right;
    min-width: 120px;
    padding: 5px;
}
.dropdown.season-filter > ul > li{
	line-height: 30px;
	cursor: pointer;
	padding-right: 10px;
}
.brand-preview{
	background-color: #fcfcfc;
	padding: 30px;
}

.brand-preview .brand-name{
	font-size: 16px;
	margin-bottom: 50px;
}
.brand-preview .brand-info{
	font-size: 14px;
	line-height: 30px;
}
.brand-preview .brand-info > span{
	display: inline-block;
	float: left;
}
.brand-preview .brand-info > span:first-child{
	color: #878787;
	width: 30%;
}
.brand-preview .brand-info > span:nth-child(2){
	width: 70%;
}
.brand-preview .brand-cover{
	height: 360px;
	background-color: #eee;
	position: relative;
}
.brand-preview .brand-cover > img{
	width: 100%;
	max-height: 100%;
	position: absolute;
	left:0;
	top:50%;
	z-index: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.brand-preview .collection-cover{
	height: 80px;
    background-color: #eee;
    position: relative;
    margin-bottom: 10px;
    width: 15%;
    float: left;
    margin-right: 2%;
}
.brand-preview .collection-cover:nth-child(6n){
	margin-right: 0;
}
.brand-preview .collection-cover > img{
	width: 100%;
	max-height: 100%;
	position: absolute;
	left:0;
	top:50%;
	z-index: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}


.collection-list .collection-list-header{
	border-bottom: 1px solid #e3e3e3;
	padding-top: 10px;
	padding-bottom: 10px;
}
.collection-list .collection-list-header .collection-list-title{
	font-size: 14px;
	font-weight: bold;
}
.collection-list .collection-list-header .input-group{
	width: 25%;
    float: right;
    margin-top: -8px;
}
.collection-list .collection-list-header .input-group-addon{
	background-color: #fff;
	border-radius: 14px 0 0 14px;
	font-size: 12px;
}
#collection-keyword {
	padding: 4px;
    height: 28px;
    border: 1px solid #ccc !important;
    box-shadow: none;
    border-left: none !important;
    text-align: left;
}
.collection-list .collection-list-content{
	padding-top: 20px;
}
.collection-list .collection-list-content .collection-item{
	height: 260px;
	position: relative;
	display: inline-block;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px 1px 2px 1px;
	margin-bottom: 30px;
	width: 100%;
}
.collection-list .collection-list-content .collection-item:before{
	content: none;
}
.collection-list .collection-list-content .collection-item{
	overflow: hidden;
}
.collection-list .collection-list-content .collection-item .collection-item-image{
	height: 100%;
	width: 100%;
}
.collection-list .collection-list-content .collection-item .collection-item-name{
	height: 45px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,.7);
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 45px;
    color: #222;
    z-index: 99;
}
.support{
	padding-top: 50px;
	padding-bottom: 80px;
}
.support .account-manager-image{
	width: 80px;
	height: 80px;
	border-radius: 40px;
	float: left;
}
.support p{
	color: #878787;
    font-size: 11px;
    float: left;
    width: 70%;
	margin: 25px 5px 0 10px;
}
.support .btn{
    margin-top: 35px;
}