.lookbook {
    padding-top: 10px !important;
}

.lookbook-season h2{
	border-bottom: 2px solid #ca7379;
	margin-top: 30px;
	margin-bottom: 20px;
	padding-top: 0;
	padding-bottom: 6px;
	color: #ca7379;
	font-weight: 300;
	font-size: 17px;
	vertical-align: bottom;
}

