.order-list,
.brand-list,
.store-list{
	padding: 10px 0 0 0;
}
.order-list .empty-warning,
.brand-list .empty-warning{
	padding-top: 60px;
	padding-bottom: 60px;
}
.order-list .empty-warning p,
.brand-list .empty-warning p{
	color: #878787;
	margin: 30px 0;
}
.order-list .empty-warning span{
	color: #878787;
	font-size: 12px;
}
.order-list .order-list-header,
.brand-list .brand-list-header,
.store-list .store-list-header{
	border-bottom: 1px solid #e3e3e3;
}
.order-list .order-list-header .order-list-title,
.brand-list .brand-list-header .brand-list-title,
.store-list .store-list-header .store-list-title{
	font-size: 18px;
	display: inline-block;
	margin-right: 1em;
	margin-top: 15px;
	margin-bottom: 15px;
}
.order-list .order-list-header .order-list-all-link,
.brand-list .brand-list-header .brand-list-all-link,
.store-list .store-list-header .store-list-all-link{
	color: #878787;
	font-size: 11px;
}
.order-list .order-list-content,
.brand-list .brand-list-content{
	padding-top: 30px;
	padding-bottom: 30px;
}
.order-list .order-list-content .order-item{
	border: 1px solid #ccc;
    height: 310px;
    padding: 15px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}
.order-list .order-list-content .order-item .order-images{
	height: 160px;
}
.order-list .order-list-content .order-item .order-images .order-item-image{
	width: 50%;
}
.order-list .order-list-content .order-item .order-images .order-item-sub-image{
	width: 23%;
    vertical-align: bottom;
}
.order-list .order-list-content .order-item .order-detail{
	font-size: 12px;
	color: #878787;
	line-height: 20px;
	font-weight: bold;
	margin-top: 20px;
}
.order-list .order-list-content .order-item .order-status{
	font-size: 16px;
    margin-top: 15px;
}
.brand-list .brand-list-content .brand-item{
	height: 240px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: 0 0 1px 0 #999;
    background-color: #fff;
}
.brand-list .brand-list-content .brand-item .brand-item-image{
	width: 100%;
	max-height: 100%;
	position: absolute;
	left:0;
	top:50%;
	z-index: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.brand-list .brand-list-content .brand-item  .brand-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255,0.8);
    height: 40px;
    color: #25272c;
    line-height: 40px;
    text-align: center;
    z-index: 99;
}
.store-list .store-item{
	border: 1px solid #ccc;
	margin-top: 30px;
}
.store-list .store-item .store-item-header{
	background-color: #f2f2f2;
	height: 40px;
	padding: 5px 15px;
}
.store-list .store-item .store-item-header > *{
	line-height: 30px;
}
.store-list .store-item .store-item-header .store-name{
	font-size: 16px;
}
.store-list .store-item .store-item-header .store-location{
	font-size: 12px;
	margin-left: 15px;
	color: #878787;
}
.store-list .store-item .store-item-body{
	padding: 20px 15px;
	height: 300px;
	position: relative;
}
.store-list .store-item .store-item-body > div{
	float: left;
	display: inline-block;
	height: 100%;
}
.store-list .store-item .store-item-body .store-photo{
	display: inline-block;
	position: relative;
	width: 35%;
	text-align: center;
	overflow: hidden;
}
.store-list .store-item .store-item-body .store-photo > img{
	height: 100%;
	max-width: 100%;
}
.store-list .store-item .store-item-body .store-details{
	position: absolute;
	bottom: 20px;
	left: 40%;
	height: auto;
}
.store-list .store-item .store-item-body .store-details > div{
	margin-top: 10px;
	line-height: 30px;
}
.store-list .store-item .store-item-body .store-details > div:nth-child(2n){
	color: #878787;
	font-size: 14px;
	max-width: 75%;
}
.store-list .store-item .store-item-body .store-details > div:nth-child(2n+1){
	font-size: 18px;
}
.support{
	padding-top: 50px;
	padding-bottom: 80px;
}
.support .account-manager-image{
	width: 80px;
	height: 80px;
	border-radius: 40px;
	float: left;
}
.support p{
	color: #878787;
    font-size: 11px;
    float: left;
    width: 70%;
	margin: 25px 5px 0 10px;
}
.support .btn{
    margin-top: 35px;
}