@CHARSET "UTF-8";

/* .collection-list{
	margin-top: 30px;
} */
.collection-list .empty-warning{
	padding-top: 60px;
	padding-bottom: 60px;
}
.collection-list .empty-warning p{
	color: #878787;
	margin: 30px 0;
}
.collection-list .collection-list-header{
	border-bottom: 1px solid #e3e3e3;
}
.collection-list .collection-list-header .collection-list-title{
	font-size: 14px;
	display: inline-block;
	padding: 10px 0;
	margin: 0;
}
.collection-list .collection-list-header .collection-list-all-link{
	color: #878787;
	font-size: 11px;
}
.collection-list .collection-list-content{
	padding-top: 30px;
	padding-bottom: 30px;
}
.collection-list .collection-list-content .collection-item {
	border: 1px solid #ccc;
	padding: 15px;
	margin-bottom: 30px;
}
.collection-list .collection-list-content .collection-item .collection-cover{
	position: relative;
	height: 250px;
}
.collection-list .collection-list-content .collection-item .collection-cover > img{
	width: 80%;
	max-height: 100%;
	position: absolute;
	left:0;
	top:50%;
	z-index: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.collection-list .collection-list-content .collection-item .collection-info .collection-info-header{
	border-bottom: 1px solid #ccc;
	margin: 0 0 15px;
	
}
.collection-list .collection-list-content .collection-item .collection-info .collection-info-header h3{
    font-size: 16px;
    line-height: 40px;
    margin: 0;
    display: inline-block;
}
.collection-list .collection-list-content .collection-item .collection-info div{
    line-height: 30px;
}
.collection-list .collection-list-content .collection-item .collection-info a{
	margin-top: 15px;
}
.collection-list .collection-list-content .collection-item .collection-info div span{
    margin-right: 1em;
}
.collection-list .collection-list-content .collection-item .collection-info .product-photo{
	height: 80px;
    margin: 15px 10px 15px 0;
    position: relative;
    display: inline-block;
    width: 60px;
    float: left;
}
.collection-list .collection-list-content .collection-item .collection-info .product-photo > img{
	width: 100%;
	max-height: 100%;
	position: absolute;
	left:0;
	top:50%;
	z-index: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.collection-list .collection-list-content .collection-item .cart-actions .btn{
	margin-top: 100px;
}
