@CHARSET "UTF-8";

.collection-info{
	padding-top: 50px;
}
.collection-info a:before{
	content: none;
}
.collection-info .collection-cover{
	height: 350px;
	position: relative;
	background-color: #eee;
}
.collection-info .collection-cover > img{
	width: 100%;
	max-height: 100%;
	position: absolute;
	left:0;
	top:50%;
	z-index: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.collection-info .collection-detail > *{
	line-height: 35px;
}
.collection-info .collection-detail.collection-name{
	margin-bottom: 30px;
}
.collection-info .collection-detail.collection-name h2{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin: 0 30px 0 0;
}
.collection-info .collection-detail.collection-name .collection-edit{
	position: relative;
}
.collection-info .collection-detail.collection-name .collection-edit:after{
	content: "";
    width: 1px;
    height: 20px;
    background-color: #25272c;
    display: inline-block;
    left: -15px;
    position: absolute;
    top: -2px;
}

.collection-info .collection-detail span:first-child,
.collection-info .collection-detail div:first-child{
	color: #878787;
	margin-right: 0.5em;
}
.collection-info .collection-detail p{
	overflow: hidden;
    max-height: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    max-width: 80%;
    display: inline-block;
    width: auto;
}
.collection-info .collection-detail .show-all p{
    max-height: none;
    white-space: inherit;
    display: inline;
}
.collection-info .collection-action{
	margin-top: 30px;
}
section.row.collection-product{
	padding-top: 30px;
	padding-bottom: 30px;
}
.collection-product h3{
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0;
	border-bottom: 1px solid #25272c;
}
.collection-product .collection-product-category ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.collection-product .collection-product-category ul > li{
	height: 30px;
}
.collection-product .collection-product-category ul > li > a{
	color: #878787;
	font-size: 14px;
	line-height: 30px;
	cursor: pointer;
}
.collection-product .collection-product-category ul > li > a:before{
	content: none;
}
.collection-product .collection-product-category ul > li > a span:first-child{
	display: inline-block;
	width: 60%;
	float: left;
}
.collection-product .collection-product-category ul > li > a span:last-child{
	display: inline-block;
	width: 40%;
	float: left;
	text-align: right;
}
.collection-product .collection-product-category .add-new-product{
	font-size: 14px;
	margin-top: 30px;
}
/* .collection-product .collection-products{
	min-height: 800px;
} */
.collection-product .collection-category-content{
	padding: 30px 0;
}
.collection-product .collection-category-content .collection-product-detail{
	height: 260px;
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
}
.collection-product .collection-category-content .collection-product-detail:before{
	content: none;
}
.collection-product .collection-category-content .collection-product-detail .product-image{
	width: 100%;
	height: 100%;
}
.collection-product .collection-category-content .collection-product-detail .product-info{
	position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    display: inline-block;
	background: rgba(255,255,255,.7);
	padding: 10px 15px;
}
.collection-product .collection-category-content .collection-product-detail .product-info .product-name{
	color: #25272c;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	width: 100%;+
    line-height: 25px;
}
.collection-product .collection-category-content .collection-product-detail .product-info .product-price{
	color: #878787;
	font-size: 12px;
	display: inline-block;
	width: 100%;
	line-height: 25px;
}
.empty-warning{
	background-color: #fcfcfc;
	margin-top: 50px;
}
.empty-warning p {
	margin: 30px 0;
	color: #878787;
}


