@font-face
{
	font-family: MontserratRegular;
	src: url(/static/app/fonts/Montserrat-Regular.woff);
}

body {
	font-family: MontserratRegular, "Microsoft Yahei", Helvetica, sans-serif !important;
	color: #666;
}
/* 默认bootstrap样式覆盖 */
/* .container{
	min-width: 1200px;
}
.container-fluid{
	min-width: 1200px;
} */
.row{
	position: relative;
}
section.row{
	padding-top: 80px;
	padding-bottom: 80px;
}
section.row.no-vertical-padding{
	padding-top: 0;
	padding-bottom: 0;
}
label{
	font-size: 12px;
	white-space: nowrap;
	/* line-height: 40px !important; */
}
.form-control{
	font-size: 12px;
	/* padding: 17px; */
	/* height: 38px; */
	border-radius: 17px;
	text-align: center;
	line-height: 20px;
}

.form-control:focus {
	outline: none;
	border-color: #ca7379;
	box-shadow: 0 0 5px rgba(202, 115, 121, 0.5);
}

select.form-control{
	appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("/static/app/images/select-arrow.png") no-repeat scroll 95% center transparent;
}
select::-ms-expand { display: none; }
/* .checkbox input[type=checkbox], 
.checkbox-inline input[type=checkbox], 
.radio input[type=radio], 
.radio-inline input[type=radio]{
	margin-top: 15px;
} */
.btn.btn-type-1,
.btn.btn-type-2{
	font-size: 12px;
    height: 40px;
    border-radius: 22px;
    min-width: 130px;
    outline: none !important;
    box-shadow: none !important;
    position: relative;
    z-index: 0;
    overflow: hidden;
    line-height: 40px;
     transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    padding-top: 0;
    padding-bottom: 0;
}
.btn.btn-type-1:before,
.btn.btn-type-2:before {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	border-radius: 22px;
}
.btn.btn-type-1:hover:before,
.btn.btn-type-2:hover:before{
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
}
.btn.btn-type-1{
	border: 1px solid #ca7379;
    color: #ca7379;
    background-color: #fff;
}
.btn.btn-type-1:before{
    background-color: #ca7379;
}
.btn.btn-type-1:hover{
	background-color: #ca7379;
	color: #fff  !important;
}
.btn.btn-type-2{
	border: 1px solid #ca7379;
    color: #fff;
    background-color: #ca7379;
}
.btn.btn-type-2:before{
    background-color: #fff;
}
.btn.btn-type-2:hover{
	color: #ca7379  !important;
}
.btn + .btn{
	margin-left: 10px;
}
.datepicker table .btn{
    border: none;
}
.form-control.datepicker{
	background-image: url(/static/app/images/calendar.png);
    background-repeat: no-repeat;
    background-position: 90% center;
}
a {
	color: #ca7379;
	position: relative;
	text-decoration: none !important;
	cursor: pointer;
	overflow: hidden;
}
a:hover,
a.active {
	color: #ca7379 !important;
}
a:before{
	content: "";
	position: absolute;
	background-color: #ca7379;
	height: 1px;
	left: 50%;
	right: 50%;
	bottom: -5px;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
}
a:hover:before,
a.active:before{
	left: 0;
	right: 0;
}

#locale-setting-currency:before,
#locale-setting-language:before{
	content: none;
}
.glyphicon + span{
	margin-left: 5px;
}
.alert{
	margin-bottom: 15px;
    padding: 0;
    border: none;
    color: #a94442;
    font-size: 12px;
}
.alert ul {
	margin: 0;
    padding: 0 0 0 10px;
    list-style: none;
}
.alert ul li{
	margin: 5px 0;
}

/* 顶部语言、货币、用户信息导航 */
.setting-info {
	height: 40px;
    background: #000;
    color: #aaa;
    font-size: 10px;
    font-weight: 200;
}
.setting-info .locale-settings{
	height: 40px;
}
.setting-info .locale-settings .dropdown{
	display: inline-block;
}
.setting-info .locale-settings .dropdown + .dropdown{
	margin-left: 20px;
}
.setting-info .locale-settings .dropdown .caret{
	margin-left: 20px;
}
.setting-info .locale-settings .dropdown a{
	text-decoration: none;
	color: #aaa;
	line-height: 40px;
	height: 40px;
	display: inline-block;
	padding: 0 7px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	min-width: 100px;
}
.setting-info .locale-settings .dropdown.open a{
	background-color: rgba(255, 255, 255, 0.15);
}
.setting-info .locale-settings .dropdown .dropdown-menu{
	margin-top: -2px;
    border-radius: 0;
    border: 2px solid #000;
    min-width: 100px;
    padding: 0;
}
.setting-info .locale-settings.right .dropdown .dropdown-menu > li{
	text-align: center;
}
.setting-info .locale-settings	.dropdown .dropdown-menu > li{
    font-size: 12px;
    padding: 0 5px;
    cursor: pointer;
    line-height: 40px;
}
.setting-info .user-info-nav{
	text-align: right;
}
.setting-info .user-info-nav a{
	line-height: 40px;
	cursor: pointer;
	color: #2aa0da;
}
.setting-info .user-info-nav span{
	line-height: 40px;
}
.setting-info .user-info-nav * + * {
	margin-left: .5em;
}
.logo-link:before{
	content: none;
}
.share-link {
    display: inline-block;
    color: #878787;
    margin: 0 5px;
    line-height: 35px;
}

/* 返回顶部按钮 */
.aside-action{
	display: inline-block;
	position: fixed;
	right: 15px;
	bottom: 15px;
	display: none;
}
.aside-action .back-to-top{
	width: 50px;
	height: 50px;
	background-color: #999;
	color: #fff;
	border: none;
	border-radius: 25px;
	line-height: 1em;
	font-size: 12px;
	outline: none;
}
/* 无用户导航 */
.guest-navigation{
	background-color: #fafafa;
}
.guest-navigation .share-link {
    color: #666;
}
.guest-navigation .site-logo{
	/* margin-top: -10px; */
}
.guest-navigation .main-naviagtions{
	list-style: none;
	margin: 25px 0 25px 0;
	padding: 0;
}
.guest-navigation .main-naviagtions > li{
	display: inline-block;
	margin: 0 2em;
}
.guest-navigation .main-naviagtions > li > a{
	color: #000;
	font-size: 12px;
    font-weight: 200;
}
/* 页尾导航 */
.footer-navigation{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #fafafa;
}
.footer-navigation h3{
	font-size: 13px;
    color: #25282c;
    margin-bottom: 25px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}
.footer-navigation p{
	font-size: 13px;
	color: #202020;
	margin-bottom: 30px;
	margin-top: 8px;
}
.footer-navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer-navigation ul > li{
	margin: 5px 0;
}
.footer-navigation ul > li > a,
.footer-navigation ul > li > span{
	color: #888;
	font-size: 12px;
}
.footer-navigation .share-links{
	margin-top: 20px;
	margin-bottom: 0;
}
.footer-navigation .share-links .share-link{
	line-height: 14px;
	padding-bottom:10px;
	margin-left: 0;
}
.footer-navigation .share-links + h3{
	margin-top: 0;
	margin-bottom: 5px;
}
.footer-navigation .subscribe > *{
	font-size: 12px;
	font-weight: normal;
	margin: 10px 0;
	display: block;
}
.footer-navigation .subscribe span{
	color: #888;
}
.footer-navigation .subscribe input{
	padding: 5px;
}
.footer-navigation .subscribe .btn{
	background-color: #000;
	color: #fff;
	border-radius: 0;
}
.footer-navigation .copyright{
	font-size: 12px;
	font-weight: normal;
	color: #888;
	display: inline-block;
}
/*用户中心的侧边导航*/
.xs-user-center-slide-nav {
	margin-top: 25px;
}

.xs-user-center-slide-nav > li > a{
    color: #25272c;
    font-size: 12px;
    font-weight: 200;
}

/* filter过滤器通用样式 */
.filter-condition{
	margin-bottom: 10px;
}
.filter-condition .filter-header{
	border-bottom: 1px solid #000;
	padding-top: 10px;
	padding-bottom: 10px;
}
.filter-condition .filter-name{
	font-size: 14px;
	color: #333;
}
.filter-condition .filter-clear-all{
	color: #ccc;
    font-size: 12px;
    float: right;
    margin-top: 2px;
    cursor: pointer;
}
.filter-condition  .filter-checkbox-list,
.filter-condition  .filter-radio-list{
	list-style: none;
	margin: 15px 0 0 0;
}
.filter-condition  .filter-list > li{
	margin: 3px 0;
    color: #878787;
    font-size: 12px;
    display: block;
    width: 100%;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
}
.filter-condition  .filter-list > li > span{
	display: inline-block;
	float: left;
}
.filter-condition  .filter-list > li > .filter-selector{
	width: 1.4em;
    height: 1.4em;
    border: 1px solid #878787;
    margin: 0.3em 15px 0.3em 0;
}
.filter-condition  .filter-list > li.active > .filter-selector{
	background-color: #878787;
	color: #fff;
}
.filter-condition  .filter-list.filter-radio-list .filter-selector{
	border-radius: 50%;
}
.filter-condition .filter-more{
	color: #ccc;
    font-size: 12px;
    margin-top: -5px;
    cursor: pointer;
}
/* image uploader样式 */
.image-uploader{
	border-radius: 2px;
	background: #eee url("/static/app/images/image-uploader-bg.png") no-repeat center 40%;
	background-position-x: center;
    background-position-y: 40%;
    color: #fff;
    position: relative;
}
.image-uploader.has-error{
	border: 1px solid #a94442;
}
.image-uploader .uploaded-image{
	width:100%;
	max-height: 100%;
	position: absolute;
	left:0;
	top:50%;
	z-index: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.image-uploader input[type='file']{
	position: absolute;
	z-index: -1;
	visibility: hidden;
}
.image-uploader label{
	width:100%;
	left: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	cursor: pointer;
	background-color: rgba(30,30,30,0.1);
	margin: 0;
	white-space: normal;
}
.image-uploader label > span{
	font-size: 11px;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.image-uploader label > span:first-child{
	margin-top: 75%;
}

/* uploading 遮罩 */
.uploading-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
    font-size: 36px;
}
.uploading-mask .uploading-content{
	position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.uploading-mask .uploading-content .glyphicon{
	padding: 10px;
	border-radius: 50%;
	border: 2px solid #fff;
	margin:0 30px;
	overflow: hidden;
	margin-bottom: -10px;
}
@keyframes rollUp
{
from {transform: translateY(100%);}
to {transform: translateY(-100%);}
}

@-moz-keyframes rollUp /* Firefox */
{
from {-moz-transform: translateY(100%);}
to {-moz-transform: translateY(-100%);}
}

@-webkit-keyframes rollUp /* Safari 和 Chrome */
{
from {-webkit-transform: translateY(100%);}
to {-webkit-transform: translateY(-100%);}
}

@-o-keyframes rollUp /* Opera */
{
from {-o-transform: translateY(100%);}
to {-o-transform: translateY(-100%);}
}
.uploading-mask .uploading-content .glyphicon:before{
	display: inline-block;
	animation: rollUp 1s linear infinite;
    -webkit-animation: rollUp 1s linear infinite;
    -moz-animation: rollUp 1s linear infinite;
    -o-animation: rollUp 1s linear infinite;
}
/*image line */
@keyframes slideIn
{
from {transform: translateX(-100%);}
to {transform: translateX(0);}
}

@-moz-keyframes slideIn /* Firefox */
{
from {-moz-transform: translateX(-100%);}
to {-moz-transform: translateX(0);}
}

@-webkit-keyframes slideIn /* Safari 和 Chrome */
{
from {-webkit-transform: translateX(-100%);}
to {-webkit-transform: translateX(0);;}
}

@-o-keyframes slideIn /* Opera */
{
from {-o-transform: translateX(-100%);}
to {-o-transform: translateX(0);}
}
.image-link-mask {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9;
    position: absolute;
    left: 0;
    top: 0;
    background-size: contain;
    padding: 10px;
    cursor: default;
    animation: slideIn .3s linear 1;
    -webkit-animation: slideIn .3s linear 1;
    -moz-animation: slideIn .3s linear 1;
    -o-animation: slideIn .3s linear 1;
}
.image-link-mask > div{
    background-color: rgba(255,255,255,0.85);
    text-align: center;
    height: 100%;
}
.image-link-mask > div  a.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    min-width: 40px !important;
    width: 40px;
    line-height: 38px;
    color: #25272c !important; 
    border-color: #25272c !important; 
    font-size: 16px;
    cursor: pointer;
    margin-left: -20px;
    left: 50%;
}
.image-link-mask > div > a.text-link{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    min-width: 40px !important;
    color: #25272c !important;
    border-color: #25272c !important;
    cursor: pointer;
    left: 20px;
    right: 20px;
}
.image-link-mask > div > a.text-link .btn{
    min-width: 40px !important;
}
.image-link-mask > div a:hover{
    border-color: #ca7379 !important; 
}
.image-link-mask > div > a > p{
    clear: both; 
}



/* load more */
.load-more{
	margin-top: 40px;
}
/* brand 通用样式 */
.user-navigation{
	padding-top: 40px;
	padding-bottom: 30px;
	background-color: #fafafa;
}
.user-navigation .main-naviagtions{
	list-style: none;
    margin: 55px 0 0 0;
    padding: 0;
}
.user-navigation .main-naviagtions > li{
	display: inline-block;
	margin-right: 3em;
}
.user-navigation .main-naviagtions > li > a{
	color: #25272c;
	font-size: 12px;
    font-weight: 200;
}
/* .user-navigation .main-naviagtions > li > a:hover,
.user-navigation .main-naviagtions > li > a.active{
	color: #25272c !important;
} */
/* .user-navigation .main-naviagtions > li > a:before{
	background-color: #25272c;
} */
.user-navigation .user-actions{
	font-size: 12px;
	margin-top: 49px;
}

.user-navigation .user-actions  a,
.user-navigation .user-actions  a:hover{
	color: #25272c !important;
	cursor: pointer;
}
.user-navigation .user-actions  a:before{
	content: none;
}
.user-navigation .user-actions  a > span{
	margin-left: 10px;
	display: inline-block;
}
.user-navigation .user-actions  a > img{
	vertical-align: bottom;
}
.user-navigation .user-actions .dropdown-menu{
	right: -5px;
    margin-top: 10px;
    left: auto;
}
.user-navigation .user-actions .dropdown-menu li{
	text-align: right;
}
/* .user-navigation .number-counter{
	position: relative;
}
.user-navigation .number-counter:after{
	content: attr(data-counter);
} */

.brand-banner{
	background-image: url('/static/app/images/brand-banner.png');
	height: 245px;
	padding: 85px 30px 25px;
}
.brand-banner .brand-logo{
	height: 135px;
	margin-right: 30px;
	float: left;
	display: inline-block;
}
.brand-banner .brand-logo img{
	height: 100%;
    min-width: 100px;
}
.brand-banner .brand-info{
	color: #fff;
    display: inline-block;
    float: left;
}
.brand-banner .brand-info .brand-name{
	margin: 20px 0 15px 0;
    line-height: 40px;
    font-size: 18px;
}
.brand-banner .brand-info .brand-detail > span{
    line-height: 20px;
    font-size: 12px;
    display:inline-block;
    min-width: 100px;
}
.brand-banner .brand-info .brand-detail > span + span{
}

/* table & row */
.xs-table {
	font-size: 12px;
	font-weight: 200;
	table-layout: fixed;
	color: #333333;
}

.xs-table-th {
	color: #555;
	border-top: none !important;
	border-bottom: 1px solid rgba(202, 115, 121, 0.20);
}

.xs-row {
	border-top: none !important;
	border-bottom: 1px solid #eeeeee;
	padding: 16px 7px 16px 7px !important;
}

.xs-row p {
	color: #999;
	margin: 0;
}