.message {
    padding-top: 10px !important;
}


/* inbox message lists */
.xs-user-center-content h2{
	border-bottom: 2px solid #ca7379;
	margin-top: 30px;
	margin-bottom: 10px;
	padding-top: 0;
	padding-bottom: 6px;
	color: #ca7379;
	font-weight: 300;
	font-size: 17px;
	vertical-align: bottom;
}

.xs-table {
	font-size: 12px;
	font-weight: 200;
	table-layout: fixed;
    color: #333333;
}

.xs-inbox-row {
	border-top: none !important;
	border-bottom: 1px solid #eeeeee;
    padding: 16px 7px 16px 7px !important;
}

.xs-inbox-row p {
	color: #999;
	margin: 0;
}

.xs-inbox-content p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.xs-inbox-icon {
	width: 30px;
}

.xs-inbox-date {
	width: 150px;
}

.xs-inbox-delete {
	width: 50px;
	cursor: pointer;
}

.xs-inbox-unread p {
    font-size: 13px;
	color: #ca7379;
}


/*  message detail */
.xs-inbox-message-bar a {
	font-size: 12px;
	font-weight: 200;
	color: #888
}

.xs-inbox-message-detail {
	line-height: 2em;
	margin-left: 15px;
	font-size: 13px;
	font-weight: 200;
	color: #555555;
}

.xs-inbox-message-detail>div {
	padding-bottom: 15px;
}

.xs-inbox-message-detail h5 {
	color: #cccccc;
	font-size: 12px;
	font-weight: 200;
}