@CHARSET "UTF-8";
.order-info a:before{
	content: none;
}
.order-info .order-cover{
	height: 250px;
	position: relative;
	background-color: #fff;
	box-shadow:0 0 1px 0 #aaa;
}
.order-info .order-cover > img{
	width: 100%;
	max-height: 100%;
	position: absolute;
	left:0;
	top:50%;
	z-index: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.order-info .order-detail > *{
	font-size: 14px;
	line-height: 30px;
}
.order-info .order-detail.order-name{
	margin-bottom: 30px;
}
.order-info .order-detail.order-name h3{
	color: #ca7379;
	display: inline-block;
	font-size: 18px;
	margin: 0 30px 0 0;
}
.order-info .order-detail > span:first-child,
.order-info .order-detail > div:first-child{
	color: #878787;
	margin-right: 0.5em;
}
.order-status-list{
	height: 160px;
	background-color: #eee;
	margin: 15px 0;
	padding: 30px;
}
.order-status-list .order-status{
	width: 10%;
	margin-right: 5%;
	float: left;
	text-align: center;
	position: relative;
}
.order-status-list.stock-collection .order-status{
	width: 13%;
	margin-right: 4.4%;
}
.order-status-list .order-status:not(:last-child):after{
	content: "······";
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 30px;
    font-size: 50px;
    top: -5px;
    right: -50px;
    letter-spacing: 5px;
    line-height: 80px;
}
.order-status-list .order-status:last-child{
	margin-right: 0;
}
.order-status-list .order-status .order-status-icon{
	width: 100%;
	height: 75px;
	background-image: url(/static/app/images/order-status-icons.png);
}
.order-status-list .order-status .order-status-icon.order-status-0{
	background-position-x: 0;
	background-position-y: -10px;
	background-position: 0 -10px;
}
.order-status-list .order-status .order-status-icon.order-status-1{
	background-position-x: -100px;
	background-position-y: -10px;
	background-position: -100px -10px;
}
.order-status-list .order-status .order-status-icon.order-status-2{
	background-position-x: -200px;
	background-position-y: -10px;
	background-position: -200px -10px;
}
.order-status-list .order-status .order-status-icon.order-status-3{
	background-position-x: -300px;
	background-position-y: -10px;
	background-position: -300px -10px;
}
.order-status-list .order-status .order-status-icon.order-status-4{
	background-position-x: -400px;
	background-position-y: -10px;
	background-position: -400px -10px;
}
.order-status-list .order-status .order-status-icon.order-status-5{
	background-position-x: -500px;
	background-position-y: -10px;
	background-position: -500px -10px;
}
.order-status-list .order-status .order-status-icon.order-status-6{
	background-position-x: -600px;
	background-position-y: -10px;
	background-position: -600px -10px;
}
.order-status-list .order-status .order-status-icon.order-status-7{
	background-position-x: -200px;
	background-position-y: -10px;
	background-position: -200px -10px;
}
.order-status-list .order-status.active .order-status-icon.order-status-0{
	background-position-x: 0;
	background-position-y: -110px;
	background-position: 0 -110px;
}
.order-status-list .order-status.active .order-status-icon.order-status-1{
	background-position-x: -100px;
	background-position-y: -10px;
	background-position: -100px -110px;
}
.order-status-list .order-status.active .order-status-icon.order-status-2{
	background-position-x: -200px;
	background-position-y: -110px;
	background-position: -200px -110px;
}
.order-status-list .order-status.active .order-status-icon.order-status-3{
	background-position-x: -300px;
	background-position-y: -110px;
	background-position: -300px -110px;
}
.order-status-list .order-status.active .order-status-icon.order-status-4{
	background-position-x: -400px;
	background-position-y: -110px;
	background-position: -400px -110px;
}
.order-status-list .order-status.active .order-status-icon.order-status-5{
	background-position-x: -500px;
	background-position-y: -110px;
	background-position: -500px -110px;
}
.order-status-list .order-status.active .order-status-icon.order-status-6{
	background-position-x: -600px;
	background-position-y: -110px;
	background-position: -600px -110px;
}
.order-status-list .order-status.active .order-status-icon.order-status-7{
	background-position-x: -200px;
	background-position-y: -110px;
	background-position: -200px -110px;
}

.order-status-list .order-status.active{
	color: #ca7379;
}

.order-status-actions {
	padding-top: 30px;
	font-size: 12px;
}
.order-status-actions label{
	line-height: 34px;
}
.order-status-actions .btn{
	min-width: 100px;
}
#invoice-file{
	outline: none;
}
.order-status-actions > div > *{
	margin-bottom: 15px;
	line-height: 34px;
}
.order-status-actions .admin-account-info{
	border: 1px solid #ccc;
	padding: 15px;
	height: 172px;
}
.order-status-actions .admin-account-info h4{
	margin: 0;
	padding: 0;
	line-height: 34px;
}
.order-status-actions .admin-account-info > div{
	width: 50%;
	float: left;
}
.order-status-actions .admin-account-info > div > span:last-child{
	color: #878787;
	margin-left: 0.5em;
}
.order-status-actions .admin-account-info .payment-tip{
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 0 10px;
	width: 100%;
	margin: 5px 0;
}
.order-status-actions .admin-account-info .payment-tip .glyphicon{
	margin-right: 1em;
}
.order-status-actions .upload-label{
	display: inline-block;
    width: 80px;
	line-height: 34px;
	margin-left: 15px
}
.order-status-actions .upload-label span{
	border: 1px solid #ccc;
	padding: 5px 8px;
	border-radius: 4px;
}
.order-status-actions .upload-label span:hover{
	background-color: #ca7379;
	border-color: #ca7379;
	color: #fff;
	cursor: pointer;
}
.order-status-actions .upload-label input{
	visibility: hidden;
    width: 0;
    height: 0;
    display: inline-block;
    padding: 0;
}
.order-status-actions a{
	line-height: 34px;
}
.order-status-actions input{
	text-align: left;
}

.order-info-header{
	border-bottom: 1px solid #e3e3e3;
	margin-top: 30px;
}
.order-info-header h3{
	font-size: 14px;
	display: inline-block;
	margin-right: 1em;
	margin-top: 15px;
	margin-bottom: 15px;
}
.order-product-list {
    margin: 15px 0;
    overflow: hidden;
}
.order-product-list .order-product-item {
	margin-bottom: 25px;
}
.order-product-list .order-product-item .product-cover{
	height: 250px;
	position: relative;
	width: 20%;
	float: left;
}
.order-product-list .order-product-item .product-cover > img{
	max-height: 100%;
	position: absolute;
	left: 15px;
	right: 15px;
	top:50%;
	z-index: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.order-product-list .order-product-item .product-info{
	width: 50%;
	float: left;
	padding: 0 15px;
}
.order-product-list .order-product-item .product-info h4{
	color: #878787;
	line-height: 40px;
	margin-top: 40px;
}
.order-product-list .order-product-item .product-info div{
	line-height: 40px;
}
.order-product-list .order-product-item .product-info div > span:first-child{
	color: #878787;
	margin-right: 1em;
}
.order-product-list .order-product-item .quantity-info{
	color: #878787;
	margin-bottom: 0;
	clear: left;
}
.order-product-list .order-product-item .quantity-info > caption{
	font-size: 16px;
	padding: 15px;
}
.order-product-list .order-product-item .quantity-info tr > th,
.order-product-list .order-product-item .quantity-info tr > td{
	width: 5em;
	text-align: center;
	line-height: 30px;
	border-bottom: 0;
}
.order-product-list .order-product-item .quantity-info tr > th:first-child,
.order-product-list .order-product-item .quantity-info tr > td:first-child{
	width: 7em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: right;
}
.order-product-list .order-product-item .quantity-info tr > th:last-child,
.order-product-list .order-product-item .quantity-info tr > td:last-child{
	width: auto;
	text-align: right;
}
.order-product-list .order-product-item .quantity-info tr > td > input{
	width: 2em;
	max-width: 100%;
	border: none;
	text-align: center;
}
.order-product-list .order-product-item .quantity-info tr > td > input:hover{
	outline: 1px solid rgb(77, 144, 254);
	outline-offset: -2px;
	outline-style: auto;
	outline-width: 5px;
}
.order-total-info{
	background-color: #e6e6e6;
	border-width: 2px;
	border-color: #333;
	border-style: dashed none;
	height: 44px;
	margin-bottom: 30px;
}
.order-total-info > div{
	width: 50%;
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
}
.order-total-info > div > span:first-child{
	margin-right: 1em;
}