@CHARSET "UTF-8";
.order-info{
	padding-top: 50px;
}
.order-info a:before{
	content: none;
}
.order-info .order-cover{
	height: 250px;
	position: relative;
	background-color: #fff;
	box-shadow:0 0 1px 0 #aaa;
}
.order-info .order-cover > img{
	width: 100%;
	max-height: 100%;
	position: absolute;
	left:0;
	top:50%;
	z-index: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.order-info .order-detail > *{
	font-size: 11px;
	line-height: 30px;
}
.order-info .order-detail.order-name{
	margin-bottom: 30px;
}
.order-info .order-detail.order-name h2{
	display: inline-block;
	font-size: 16px;
	margin: 40px 30px 0 0;
}
.order-info .order-detail > span:first-child,
.order-info .order-detail > div:first-child{
	color: #878787;
	margin-right: 0.5em;
}
.order-status-list{
	height: 160px;
	background-color: #e6e6e6;
	margin: 15px 0;
	padding: 30px;
}
.order-status-list .order-status{
	width: 13%;
	margin-right: 4.4%;
	float: left;
	text-align: center;
	position: relative;
}
.order-status-list .order-status:not(:last-child):after{
	content: "······";
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 30px;
    font-size: 50px;
    top: -5px;
    right: -60px;
    letter-spacing: 5px;
    line-height: 80px;
}
.order-status-list .order-status:last-child{
	margin-right: 0;
}
.order-status-list .order-status i{
	margin-bottom: 10px;
}
.order-status-list .order-status.active{
	color: #ca7379;
}


.order-info-header{
	border-bottom: 1px solid #e3e3e3;
	margin-top: 30px;
}
.order-info-header h3{
	font-size: 14px;
	display: inline-block;
	margin-right: 1em;
	margin-top: 15px;
	margin-bottom: 15px;
}
.order-product-list {
    margin: 15px 0;
    overflow: hidden;
}
.order-product-list .order-product-item .product-cover{
	height: 250px;
	position: relative;
	width: 20%;
	float: left;
}
.order-product-list .order-product-item .product-cover > img{
	max-height: 100%;
	position: absolute;
	left: 15px;
	right: 15px;
	top:50%;
	z-index: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.order-product-list .order-product-item .product-info{
	width: 50%;
	float: left;
	padding: 0 15px;
}
.order-product-list .order-product-item .product-info h4{
	color: #878787;
	line-height: 40px;
	margin-top: 40px;
}
.order-product-list .order-product-item .product-info div{
	line-height: 40px;
}
.order-product-list .order-product-item .product-info div > span:first-child{
	color: #878787;
	margin-right: 1em;
}
.order-product-list .order-product-item .quantity-info{
	color: #878787;
	margin-bottom: 0;
}
.order-product-list .order-product-item .quantity-info > caption{
	font-size: 16px;
	padding: 15px;
}
.order-product-list .order-product-item .quantity-info tr > th,
.order-product-list .order-product-item .quantity-info tr > td{
	width: 5em;
	text-align: center;
	line-height: 30px;
	border-bottom: 0;
}
.order-product-list .order-product-item .quantity-info tr > th:first-child,
.order-product-list .order-product-item .quantity-info tr > td:first-child{
	width: 7em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: right;
}
.order-product-list .order-product-item .quantity-info tr > th:last-child,
.order-product-list .order-product-item .quantity-info tr > td:last-child{
	width: auto;
	text-align: right;
}
.order-product-list .order-product-item .quantity-info tr > td > input{
	width: 2em;
	max-width: 100%;
	border: none;
	text-align: center;
}
.order-product-list .order-product-item .quantity-info tr > td > input:hover{
	outline: 1px solid rgb(77, 144, 254);
	outline-offset: -2px;
	outline-style: auto;
	outline-width: 5px;
}
.order-total-info{
	background-color: #e6e6e6;
	border-width: 2px;
	border-color: #333;
	border-style: dashed none;
	height: 44px;
	margin-bottom: 30px;
}
.order-total-info > div{
	width: 50%;
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
}
.order-total-info > div > span:first-child{
	margin-right: 1em;
}