.profile {
    padding-top: 20px !important;
}

.profile-content h2{
	border-bottom: 2px solid #ca7379;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 0;
	padding-bottom: 6px;
	color: #ca7379;
	font-weight: 300;
	font-size: 17px;
	vertical-align: bottom;
}

.form-group button {
	margin-bottom: 3px;
}

.form-group img {
	margin-bottom: 3px;
    text-align: left;
    max-width: 400px;
    max-height: 400px;
}

.lb_item_name {
	width: 180px;
	font-weight: 300;
}

.lb_item_field {
	width: 500px;
	font-weight: 300;
}

