section.row{
    padding-top: 50px;
    padding-bottom: 50px;
}

h2.brand-register-step {
	font-size: 16px;
	margin-bottom: 50px;
	margin-top: 0;
	text-indent: 2.5em;
}

/* .brand-register-inline {
	line-height: 22px !important;
} */

.brand-register-text-center {
	line-height: 28px;
}

.brand-register-block-spare {
	margin-bottom: 20px;
}

.brand-register-lookbook-upload {
	height: 200px;
	/* background: transparent; */
    overflow: hidden;
    position: relative;
}
.brand-register-lookbook-upload.has-error{
	border-color: #a94442;
}

.brand-register-lookbook-upload p {
	margin-top: 50%;
	margin-bottom: 0;
}

.help-block {
	font-size: 11px;
	color: #999;
	margin-top: 15px;
}

	/* .brand-register-lookbook-upload label {
        line-height: 100% !important;
        margin-top: 10px;
        color: #60b8e4;
        cursor: pointer;
    } */

/* #lookbook-upload {
	visibility: hidden;
}
 *//* #brand-register .brand-register-checkbox{
	margin-bottom: 50px;
} */
#brand-register .brand-register-checkbox input[type='checkbox']{
	margin-top: 1px;
}
/* .brand-register-checkbox label {
	line-height: 100% !important;
} */

/* .brand-register-checkbox label span {
	margin-top: 15px;
} */
#brand-register .form-group label{
	color: #878787;
    font-weight: normal;
    line-height: 40px;
    margin-bottom: 0;
}

#brand-register .form-group label[for='country'] {
	position: absolute;
    width: 100%;
    z-index: -1;
    text-align: center;
    font-weight: normal;
    color: #999;
    letter-spacing: 0;
    padding-right: 30px;
}
#brand-register .form-group label[for='country'].has-content{
    color: #555;
}
#country {
	background-color: transparent;
	color: transparent;
}
#country option{
	color: #000;
}