section.row{
    padding-top: 50px;
    padding-bottom: 50px;
}

h2.buyer-register-step {
	font-size: 16px;
	margin-bottom: 50px;
	margin-top: 0;
	text-indent: 2.5em;
}
.form-group{
	position: relative;
}
/* .buyer-register-inline {
	line-height: 22px !important;
} */

.buyer-register-text-center {
	line-height: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.buyer-register-block-spare {
	margin-bottom: 50px;
}

.buyer-register-lookbook-upload.has-error{
	border-color: #a94442;
}
.buyer-register-lookbook-upload {
	font-size: 12px;
	height: 190px;
	overflow: hidden;
	position: relative;
}

.help-block {
	font-size: 11px;
	color: #999;
	margin-top: 15px;
}

.buyer-register-form-inline-left {
	padding-left: 0;
}
.buyer-register-form-inline-right{
	padding-right: 0;
}


label[for='store-type'],
label[for='store-country'],
label[for='company-country'] {
	position: absolute;
    width: 100%;
    z-index: -1;
    text-align: center;
    font-weight: normal;
    color: #999;
    letter-spacing: 0;
    padding-right: 30px;
}
label[for='store-type'].has-content,
label[for='store-country'].has-content,
label[for='company-country'].has-content{
    color: #555;
}
#store-type,
#store-country,
#company-country{
	background-color: transparent;
	color: rgba(0,0,0,0);;
}
#store-type option,
#store-country option,
#company-country option{
	color: #000;
}

.buyer-register-dropdown-menu {
	margin-left: 15px;
	width: 429px;
	text-align: center;
}
.buyer-register-dropdown-menu li {
	font-size: 12px;
	padding-top: 10px;
	padding-buttom: 10px;
}
.buyer-register-dropdown-menu li:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}
.help-block{
	margin-top: 15px;
}
#buyer-register .buyer-register-checkbox-group label.checkbox-inline{
	line-height: 22px;
	margin-left: 0;
	width: 33%;
	float: left;
}
#buyer-register .buyer-register-checkbox input[type='checkbox']{
	margin-top: 2px;
}
#buyer-register .form-group .buyer-register-checkbox label{
	line-height: 17px;
	padding-top: 0;
}
.form-group label{
	color: #878787;
    font-weight: normal;
    line-height: 34px;
    margin-bottom: 0;
}

#invite-modal {
	text-align: center;
	margin-top: 145px;
}

#invite-modal .modal-content {
	padding: 30px;
}

#invite-modal h4 {
	color: #ca7379;
	font-size: 26px;
	margin-bottom: 40px;
}

#invite-modal p {
	margin-top: 20px;
	font-size: 10px;
}

#invite-modal input {
	margin-top: 30px;
}

#invite-modal .btn {
	width: 200px
}

#invite-modal label {
	font-weight: 400;
	color: #e02432;
	margin-top: 5px;
}