@CHARSET "UTF-8";
#store-create-form input[disabled],
#store-create-form select[disabled],
#store-create-form textarea[disabled]{
	border: none;
	background-color: #fff;
	box-shadow: none;
	background-image: none;
	cursor: default;
	color: #333;
	padding-left: 0;
}
#store-create-form textarea[disabled]{
	height: auto;
}