<!DOCTYPE html>
<html ng-app="xShowroom.register.brand">
<head>
	<meta charset="UTF-8">
	<title>XShowroom</title>
	<link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="./app/css/common.css" />
	<link rel="stylesheet" type="text/css" href="./app/css/brand-register.css" />
	<link rel="shortcut icon" href="./app/resources/images/favicon.ico" />
	<script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="./bower_components/angular-cookies/angular-cookies.min.js"></script>
	<script type="text/javascript" src="./bower_components/angular-ui-uploader/dist/uploader.min.js"></script>
	<script type="text/javascript" src="./app/modules/common/i18n.js"></script>
	<script type="text/javascript" src="./app/modules/common/services.js"></script>
	<script type="text/javascript" src="./app/modules/common/directives.js"></script>
	<script type="text/javascript" src="./app/modules/brand-register.js"></script>
</head>

<body ng-controller="BrandRegisterCtrl" class="container-fluid">
	<nav class="row setting-info" ng-include="'./templates/global-setting-info.html'"></nav>
	<nav class="row no-user-navigation"
		ng-include="'./templates/global-no-user-navigation.html'"></nav>

	<section class="row">
		<div class="container">
			<div class="col-xs-12">
				<h2 class="brand-register-step">STEP {{step.stepNumber}} OF 3:
					{{step.information[step.stepNumber - 1]}}</h2>
			</div>
		
			<div class="col-xs-5">
				<img class="brand-register-context"
					ng-src="./app/images/brand-register-{{step.stepNumber}}.png" />
			</div>

			<form class="form-horizontal col-xs-7">
				<!-- step 1 -->
				<div class="col-xs-12" ng-show="step.stepNumber == 1">
					<div class="form-group" ng-class="{'has-error': step.validation[1].email}">
						<label for="username"
							class="col-xs-3 text-center brand-register-inline">EMAIL ADDRESS
						</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" id="username"
								name="username" autocomplete="off"
								ng-model="user.email" 
								placeholder="PLEASE ENTER EMAIL ADDRESS *">
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error': step.validation[1].pass}">
						<label for="password"
							class="col-xs-3 text-center brand-register-inline">PASSWORD
						</label>
						<div class="col-xs-9">
							<input type="password" class="form-control" id="username"
								name="password" autocomplete="off"
								ng-model="user.pass" 
								placeholder="PLEASE ENTER YOUR PASSWORD *">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6"  ng-class="{'has-error': step.validation[1].firstName}">
							<input type="text" class="form-control" id="first-name"
								name="first-name" autocomplete="off"
								ng-model="user.firstName" 
								placeholder="FIRST NAME *">
						</div>
						<div class="col-xs-6" ng-class="{'has-error': step.validation[1].lastName}">
							<input type="text" class="form-control" id="last-name"
								name="last-name" autocomplete="off"
								ng-model="user.lastName" 
								placeholder="LAST NAME *">
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error': step.validation[1].displayName}">
						<div class="col-xs-12">
							<input type="text" class="form-control" id="display-name"
								name="display" autocomplete="off"
								ng-model="user.displayName" 
								placeholder="DISPLAY NAME *">
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error': step.validation[1].tel}">
						<div class="col-xs-12">
							<input type="text" class="form-control" id="telephone-number"
								name="telephone-number" autocomplete="off"
								ng-model="user.tel" 
								placeholder="CONTACT TELEPHONE NUMBER *">
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error': step.validation[1].mobile}">
						<div class="col-xs-12">
							<input type="text" class="form-control" id="mobile-number"
								name="mobile-number" autocomplete="off"
								ng-model="user.mobile"
								placeholder="CONTACT MOBILE NUMBER (OPTIONAL)">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<a class="col-xs-3 btn btn-type-1" href="./home.html" target="_self">CANCEL</a> <a
								class="col-xs-3 btn btn-type-2" ng-click="check()">ADD
								BRAND</a>
						</div>
					</div>
				</div>
				<!-- /step 1 -->

				<!-- step 2 -->
				<div class="col-xs-12" ng-show="step.stepNumber == 2">
					<div class="row brand-register-block-spare">
						<div class="col-xs-3 block-center brand-register-lookbook-upload imagePreview thumbnail" 
							ng-class="{'has-error': step.validation[2].imagePath}">
							<p class="text-center">LOOKBOOK / IMAGE</p>
							<label for="lookbook-upload" class="text-center"> UPLOAD
								<input type="file" id="lookbook-upload" name="lookbook-upload"/>
							</label>
							<input type="hidden" ng-model="user.imagePath"/>
						</div>
						<div class="col-xs-9">
							<div class="form-group col-xs-12" ng-class="{'has-error': step.validation[2].brandName}">
								<input type="text" class="form-control" id="brand-name"
									name="brand-name" autocomplete="off"
									ng-model="user.brandName" 
									placeholder="PLEASE ENTER YOUR BRAND NAME *">
							</div>
							<div class="form-group col-xs-12" ng-class="{'has-error': step.validation[2].designerName}">
								<input type="text" class="form-control" id="designer-name"
									name="deigner-name" autocomplete="off"
									ng-model="user.designerName" 
									placeholder="DESIGNER NAME *">
							</div>
							<div class="form-group col-xs-12">
								<span class="form-control brand-register-text-center lead">
									www.xshowroom.com/{{!user.brandName || user.brandName == '' ?
									'Brandname' : user.brandName}} </span>
								<p class="text-center help-block small">
									This URL will be used for direct access to your Brand<br>
									(for authenticated Buyers only)
								</p>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<a class="btn btn-type-1 col-xs-3" ng-click="previous()">PREVIOUS</a>
						<a type="submit" class="btn btn-type-2 col-xs-3"
							ng-click="check()">ADD COMPANY</a>
					</div>
				</div>
				<!-- /step 2 -->

				<!-- step 3 -->
				<div class="col-xs-12" ng-show="step.stepNumber == 3">
					<div class="form-group"  ng-class="{'has-error': step.validation[3].companyName}">
						<div class="col-xs-12">
							<input type="text" class="form-control" id="company-name"
								name="company-name" autocomplete="off"
								ng-model="user.companyName" 
								placeholder="COMPANY NAME *">
						</div>
					</div>
					<div class="form-group"  ng-class="{'has-error': step.validation[3].companyAddr}">
						<div class="col-xs-12">
							<input type="text" class="form-control" id="company-address"
								name="company-address" autocomplete="off"
								ng-model="user.companyAddr" 
								placeholder="COMPANY ADDRESS *">
						</div>
					</div>
					<div class="form-group"  ng-class="{'has-error': step.validation[3].companyCountry}">
						<div class="col-xs-6">
							<input type="text" class="form-control" id="country"
								name="country" autocomplete="off"
								ng-model="user.companyCountry" 
								placeholder="STATE/COUNTRY *">
						</div>
						<div class="col-xs-6"  ng-class="{'has-error': step.validation[3].companyZip}">
							<input type="text" class="form-control" id="postcode"
								name="postcode" autocomplete="off"
								ng-model="user.companyZip" 
								placeholder="POSTCODE/ZIP *">
						</div>
					</div>
					<div class="form-group"  ng-class="{'has-error': step.validation[3].companyTel}">
						<div class="col-xs-12">
							<input type="text" class="form-control"
								id="company-telephone-number" name="company-telephone-number"
								autocomplete="off" ng-model="user.companyTel"
								 placeholder="COMPANY TELEPHONE NUMBER *">
						</div>
					</div>
					<div class="form-group"  ng-class="{'has-error': step.validation[3].companyWebsite}">
						<div class="col-xs-12">
							<input type="text" class="form-control" id="company-web-page-url"
								name="company-web-page-url" autocomplete="off"
								ng-model="user.companyWebsite" 
								placeholder="COMPANY WEB PAGE URL *">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<p class="text-center help-block small">On receipt of your
								application, an invoice will be sent to your email address.
								Membership access will be granted on payment confirmation.</p>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<div class="checkbox brand-register-checkbox">
								<label> <input type="checkbox" ng-required="true" ng-model="acceptConditions" value="true"><span
									class="help-block small">I accept the terms and
										conditions of Project Crossover Online Showromms web site.</span>
								</label>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<a class="btn btn-type-1 col-xs-3" ng-click="previous()">PREVIOUS</a>
						<button class="btn btn-type-2 col-xs-3" ng-click="check();">SUBMIT</button>
					</div>
				</div>
				<!-- /step 3 -->
			</form>
		</div>
		<div class="uploading"></div>
	</section>

	<footer class="row footer-navigation" ng-include="'./templates/global-footer-navigation.html'"></footer>
</body>
</html>