<!DOCTYPE html>
<html ng-app="xShowroom.register.brand">
<head>
<meta charset="UTF-8">
<title>XShowroom</title>

<link rel="stylesheet" type="text/css"
	href="/XShowroom/bower_components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/XShowroom/app/css/common.css" />
<link rel="stylesheet" type="text/css"
	href="/XShowroom/app/css/brand-register.css" />
<link rel="shortcut icon"
	href="/XShowroom/app/resources/images/favicon.ico" />
<script type="text/javascript"
	src="/XShowroom/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript"
	src="/XShowroom/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/XShowroom/bower_components/angular/angular.min.js"></script>
<script type="text/javascript"
	src="/XShowroom/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript"
	src="/XShowroom/app/modules/common/directives.js"></script>
<script type="text/javascript"
	src="/XShowroom/app/modules/common/services.js"></script>
<script type="text/javascript"
	src="/XShowroom/app/modules/common/i18n.js"></script>
<script type="text/javascript"
	src="/XShowroom/app/modules/brand-register.js"></script>
</head>

<body ng-controller="BrandRegisterCtrl" class="container-fluid">
	<nav class="row setting-info" ng-include="'./global-setting-info.html'"></nav>
	<nav class="row no-user-navigation"
		ng-include="'./global-no-user-navigation.html'"></nav>

	<section class="row brand-register-step">
		<div class="container">
			<h2 class="brand-register-step">STEP {{step.stepNumber}} OF 3:
				{{step.information[step.stepNumber - 1]}}</h2>
		</div>
	</section>

	<section class="row">
		<div class="container">
			<div class="col-xs-5">
				<img class="brand-register-context"
					ng-src="/XShowroom/app/images/brand-register-{{step.stepNumber}}.png" />
			</div>

			<form class="form-horizontal" action="/XShowroomAPI/test"
				enctype="multipart/form-data" ng-submit="submit()" method="post">
				<!-- step 1 -->
				<div class="col-xs-7" ng-show="step.stepNumber == 1">
					<div class="form-group">
						<label for="username"
							class="col-xs-3 text-center brand-register-inline">EMAIL
							ADDRESS<br>(LOGIN ID)
						</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" id="username"
								name="username" autocomplete="off"
								ng-model="result.user.username" ng-required="true"
								placeholder="PLEASE ENTER EMAIL ADDRESS *">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<input type="text" class="form-control" id="first-name"
								name="first-name" autocomplete="off"
								ng-model="result.user.firstName" ng-required="true"
								placeholder="FIRST NAME *">
						</div>
						<div class="col-xs-6">
							<input type="text" class="form-control" id="last-name"
								name="last-name" autocomplete="off"
								ng-model="result.user.lastName" ng-required="true"
								placeholder="LAST NAME *">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<input type="text" class="form-control" id="display-name"
								name="display" autocomplete="off"
								ng-model="result.user.displayName" ng-required="true"
								placeholder="DISPLAY NAME *">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<input type="text" class="form-control" id="telephone-number"
								name="telephone-number" autocomplete="off"
								ng-model="result.user.telephoneNumber" ng-required="true"
								placeholder="CONTACT TELEPHONE NUMBER *">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<input type="text" class="form-control" id="mobile-number"
								name="mobile-number" autocomplete="off"
								ng-model="result.user.mobileNumber"
								placeholder="CONTACT MOBILE NUMBER (OPTIONAL)">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<a class="col-xs-3 btn btn-type-1">CANCEL</a> <a
								class="col-xs-3 btn btn-type-2" ng-click="nextCheck()">ADD
								BRAND</a>
						</div>
					</div>
				</div>
				<!-- /step 1 -->

				<!-- step 2 -->
				<div class="col-xs-7" ng-show="step.stepNumber == 2">
					<div class="row brand-register-block-spare">
						<div
							class="col-xs-3 block-center brand-register-lookbook-upload imagePreview thumbnail">
							<p class="text-center">LOOKBOOK / IMAGE</p>
							<label for="lookbook-upload" class="text-center"> UPLOAD
								<input type="file" id="lookbook-upload" name="lookbook-upload"
								ng-model="result.brand.lookbook" />
							</label>
						</div>
						<div class="col-xs-9">
							<div class="form-group col-xs-12">
								<input type="text" class="form-control" id="brand-name"
									name="brand-name" autocomplete="off"
									ng-model="result.brand.brandName" ng-required="true"
									placeholder="PLEASE ENTER YOUR BRAND NAME *">
							</div>
							<div class="form-group col-xs-12">
								<input type="text" class="form-control" id="designer-name"
									name="deigner-name" autocomplete="off"
									ng-model="result.brand.designerName" ng-required="true"
									placeholder="DESIGNER NAME *">
							</div>
							<div class="form-group col-xs-12">
								<span class="form-control brand-register-text-center lead"
									id="brand-name" ng-model="result.brand.brandName">
									www.xshowroom.com/{{!brand.brandName || brand.brandName == '' ?
									'Brandname' : brand.brandName}} </span>
								<p class="text-center help-block small">
									This URL will be used for direct access to your Brand<br>
									(for authenticated Buyers only)
								</p>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<a class="btn btn-type-1 col-xs-3" ng-click="previous()">PREVIOUS</a>
						<a type="submit" class="btn btn-type-2 col-xs-3"
							ng-click="nextCheck()">ADD COMPANY</a>
					</div>
				</div>
				<!-- /step 2 -->

				<!-- step 3 -->
				<div class="col-xs-7" ng-show="step.stepNumber == 3">
					<div class="form-group">
						<div class="col-xs-12">
							<input type="text" class="form-control" id="company-name"
								name="company-name" autocomplete="off"
								ng-model="result.company.companyName" ng-required="true"
								placeholder="COMPANY NAME *">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<input type="text" class="form-control" id="company-address"
								name="company-address" autocomplete="off"
								ng-model="result.company.companyAddress" ng-required="true"
								placeholder="COMPANY ADDRESS *">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<input type="text" class="form-control" id="country"
								name="country" autocomplete="off"
								ng-model="result.company.country" ng-required="true"
								placeholder="STATE/COUNTRY *">
						</div>
						<div class="col-xs-6">
							<input type="text" class="form-control" id="postcode"
								name="postcode" autocomplete="off"
								ng-model="result.company.postcode" ng-required="true"
								placeholder="COMPANY NAME *">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<input type="text" class="form-control"
								id="company-telephone-number" name="company-telephone-number"
								autocomplete="off" ng-model="result.company.telephoneNumber"
								ng-required="true" placeholder="COMPANY TELEPHONE NUMBER *">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<input type="text" class="form-control" id="company-web-page-url"
								name="company-web-page-url" autocomplete="off"
								ng-model="result.company.webPageURL" ng-required="true"
								placeholder="COMPANY WEB PAGE URL *">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<p class="text-center help-block small">On receipt of your
								application, an invoice will be sent to your email address.
								Membership access will be granted on payment confirmation.</p>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<div class="checkbox brand-register-checkbox">
								<label> <input type="checkbox" ng-required="true"><span
									class="help-block small">I accept the terms and
										conditions of Project Crossover Online Showromms web site.</span>
								</label>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<a class="btn btn-type-1 col-xs-3" ng-click="previous()">PREVIOUS</a>
						<button type="submit" class="btn btn-type-2 col-xs-3">SUBMIT</button>
					</div>
				</div>
				<!-- /step 3 -->
			</form>
		</div>
	</section>

	<footer class="row footer-navigation"
		ng-include="'./global-footer-navigation.html'"></footer>
</body>
</html>