<div class="container">
	<div class="row">
		<div class="col-xs-12 text-right share-links">
			<a href="#" class="share-link"><i class="fa fa-facebook"></i></a>
			<a href="#" class="share-link"><i class="fa fa-weibo"></i></a>
			<a href="#" class="share-link"><i class="fa fa-instagram"></i></a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<img class="site-logo" ng-src="/XShowroom/app/images/logo-{{page=='home' ? 'white' : 'black'}}.png">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<ul class="main-naviagtions">
				<li><a href="./home.html" ng-class="{'active': page=='home'}">HOME</a></li>
				<li><a href="./guide.html" ng-class="{'active': page=='guide'}">GUIDE</a></li>
				<li><a href="#" ng-class="{'active': page=='shop'}">SHOP</a></li>
				<li><a href="#" ng-class="{'active': page=='discover'}">DISCOVER</a></li>
				<li><a href="#" ng-class="{'active': page=='press'}">PRESS</a></li>
				<li><a href="#" ng-class="{'active': page=='contact'}">CONTACT</a></li>
			</ul>
		</div>
	</div>
</div>
