<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h3>LOCATION</h3>
			<p>
				PROJECT CROSSOVER LTD.,<br />654 FINCHLEY ROAD, LONDON<br />NW11 7NT
			</p>
			<ul>
				<li><span>D: +(44) 20 7637 9977</span></li>
				<li><span>M: +(44) 780 595 7320</span></li>
				<li><span>info@projectcrossover.com</span></li>
			</ul>
		</div>
		<div class="col-xs-3">
			<h3>HELP</h3>
			<ul>
				<li><a href="#">HOW TO BUY</a></li>
				<li><a href="#">GENERAL INFORMATION</a></li>
				<li><a href="#">PAYMENT</a></li>
				<li><a href="#">SHIPPING</a></li>
				<li><a href="#">RETURNS</a></li>
				<li><a href="#">EXCHANGE</a></li>
				<li><a href="#">GIFT CARD</a></li>
				<li><a href="#">MY ACCOUNT</a></li>
				<li><a href="#">WATCHES</a></li>
			</ul>
		</div>
		<div class="col-xs-3">
			<h3>POLICIES</h3>
			<ul>
				<li><a href="#">ENVIRONMENT POLICY</a></li>
				<li><a href="#">ANIMAL WELFARE</a></li>
				<li><a href="#">PRIVACY POLICY</a></li>
				<li><a href="#">PURCHASE CONDITIONS</a></li>
				<li><a href="#">GIFT CARD CONDITIONS</a></li>
				<li><a href="#">WARRANTY ON WATCHES</a></li>
			</ul>
		</div>
		<div class="col-xs-3">
			<h3>COMPANY</h3>
			<ul>
				<li><a href="#">ABOUT US</a></li>
				<li><a href="#">DISCOVER</a></li>
				<li><a href="#">PRESS</a></li>
				<li><a href="#">LICENSE</a></li>
				<li><a href="#">CONTACT</a></li>
			</ul>
		</div>
	</div>
</div>
