<div class="container">
	<div class="row">
		<div class="col-xs-12 text-right share-links">
			<a href="#" class="share-link"><i class="fa fa-facebook"></i></a>
			<a href="#" class="share-link"><i class="fa fa-weibo"></i></a>
			<a href="#" class="share-link"><i class="fa fa-instagram"></i></a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<img class="site-logo" ng-src="/static/app/images/logo-{{page=='home' ? 'white' : 'black'}}.png">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<ul class="main-naviagtions">
				<li><a href="./home.html" ng-class="{'active': page=='home'}">{{ "global_no_user_navigation__HOME"| translate }}</a></li>
				<li><a href="./guide.html" ng-class="{'active': page=='guide'}">{{ "global_no_user_navigation__GUIDE"| translate }}</a></li>
				<li><a href="./shop.html" ng-class="{'active': page=='shop'}">{{ "global_no_user_navigation__SHOP"| translate }}</a></li>
				<li><a href="#" ng-class="{'active': page=='discover'}">{{ "global_no_user_navigation__DISCOVER"| translate }}</a></li>
				<li><a href="#" ng-class="{'active': page=='press'}">{{ "global_no_user_navigation__PRESS"| translate }}</a></li>
				<li><a href="#" ng-class="{'active': page=='contact'}">{{ "global_no_user_navigation__CONTACT"| translate }}</a></li>
			</ul>
		</div>
	</div>
</div>
